 *{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    background-color: #fff;
    padding: 0px;
    display: flex;
    flex-direction: column;
 }

/*Header---------------------------------------------------*/
 .header .logo img{
   height: 70px;
   width: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .header {
   min-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    z-index: 50;
    height: 112px;
  }
 

  button{
   box-sizing: border-box;
   display: flex;
   color: #00011f;
   font-weight: 700;
   padding: 6px 18px;
   background-color: #FFBF00;
   margin-top: 40px;
   width: fit-content;
   transition: all 0.2s ease;
   border: 2px solid #FFBF00 ;
  }
  button:hover{
   background-color: #ffffff;
   color: #FFBF00;
  }
  .register-btn h4{
   margin-top: 4px;
   text-decoration: none;
   border: none;
   margin-left: 20px;
   margin-bottom: 8px;
   font-weight: 400;
   font-size: 16px;
   background-color: transparent;
   padding: 0;
} 
.register-btn h4:hover{
   color: #FFBF00;
}
  .logo {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 35%;
    height: 112px;
  }
  
  .social {
    width: 35%;
    display: flex;
    justify-content: left;
    align-items: center;
     height: 112px;
  }
  
.menu-inner{
    width: 90%; 
     height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px ;
}
 a{
    text-decoration: none;
    color: #000;

 }

 .header .menu-inner a{
    font-size: 14px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;

 }
 .header .menu-inner a:hover{
   color: #FFBF00;
 }

.inner{
    padding: 20px 10px;
}

.icon{
    font-size: 22px;
    padding: 3px 7px;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
}
.header .social .social-icons .icon {
    margin-right: 14px; 
}

.fa-user{
 border-radius: 50%;
 color: #fff;
 background-color: #000;
 padding: 6px 7px;
 overflow: hidden;
 font-size: 22px;
 margin-top: 4px;
 
}


/*------------------------------------------------------------------*/

.slider-carousel{
   margin-top: 8%;
   width: 100%;
   height: 600px;
   overflow: hidden;
}

figure{
   position: relative;
   left: 0;
   width: 400%;
   animation: 30s slide infinite;
}

@keyframes slide{
  0%{
    left: 0;
  }
  10%{
    left: 0;
  }
  20%{
    left: -100%;
  }
  30%{
    left: -100%;
  }
  40%{
    left: -200%;
  }
  50%{
    left: -200%;
  }
  60%{
    left: -300%;
  }
 70%{
    left: -300%;
  }
  80%{
    left: -200%;
  }
  85%{
    left: -200%;
  }
  90%{
    left: -100%;
  }
  95%{
    left: -100%;
  }
  100%{
    left: 0%
  }
}
.images{
   position: relative; 
   width: 25%;
  float: left;
}

.backgr{
   background-color: #000;
   z-index: 2;
 }

 .background{
  background-color: #fff;
   z-index: 2;
 }
 .images img{
   display: block;
   width: 100%;
 }

 .main {
   display: block;
  z-index: 1;
 }
 .backgr{
   background-color: #000;

 }
 .main img{
   opacity: 0.7;
   background-color: #000;
 }
.nain img{
  opacity: 0.1;
   background-color: #fff;
}
.white{
  background-color: #000000;
  z-index: 2;
}
.fain img{
  opacity: 0.6; 
  background-color: #000; 
  z-index: 1;
}
  .navigation-buttons .previous {
    color: #fff;
    position: absolute;
    z-index: 10;
    font-size: 80px;
    top:60%;
    left:  8%;
  }
 .image-text .black {
    color: #000;
  }
  .navigation-buttons .next {
    right: 8%;
    color: #fff;
    position: absolute;
    font-size: 80px;
    z-index: 10;
    top:60%;
  }
  
  .navigation-buttons .nav-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .navigation-buttons .next:hover {
    color: rgb(156, 156, 156);
  }
 
  .navigation-buttons .previous:hover {
    color: rgb(156, 156, 156);
  }

  .image-text {
   height: 200px;
   width: fit-content;
   position: absolute;
   top: 45%;
   left: 15%;
   z-index: 3;
   
 }

 .offen, .cent{
  top: 35%;
 }
.cent{
  display: flex;
  gap: 70px;
}
.cent-image img{
  z-index: 10;
  opacity: 1;
  margin-top: -100px; 
}
 .image-text h1 {
   font-size: 43px;
   color: #fff;
   background-color: #FFBF00;
   padding: 0 10px;
   z-index: 3;
   margin-bottom: 10px;
   width: fit-content;
 }
 .image-text p{
   color: #fff;
   margin-top: 30px;
   font-weight: 500;
   font-size: 22px;
   z-index: 30;

 }

 .image-text .btn{
   box-sizing: border-box;
   display: flex;
   color: #00011f;
   font-weight: 700;
   padding: 6px 18px;
   background-color: #FFBF00;
   margin-top: 40px;
   width: fit-content;
   transition: all 0.2s ease;
   border: 2px solid #FFBF00 ;
 }


 .image-text .btn:hover{
   background-color: #ffffff;
   color: #FFBF00;
   
 }
/*----------------------------------------------------------------*/
 .second-text{
   font-size: 30px;
   text-align: center;
   padding: 80px;
   font-weight: 300;
  background-color: #fff;
 }

/*----------------------------------------------------------------*/ 
 .features{
   display: flex;
   width: 100%;
   height: 375px;
   background-color: #FFF7DE;
 }

 .feature{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 .feature .icone{
   color: #FFBF00;
   font-size: 50px;
   margin-bottom: 20px;

 }

 .feature p{
   width: 350px;
   font-weight: 300;
   text-align: center;
 }

 .feature .tag h3{
   font-size: 20px;
   margin-bottom: 15px;
   font-weight: 800;

 }
/*---------------------------------------------------------------------*/
 .platforms{
   height: 700px;
   width: 100%;
   display:flex;
   justify-content: center;
   align-items: center;
    background-color: #fff;
 }
 .platform .name1{
   text-align: center;
   font-size: 36px;
   font-weight: 800;
   margin-bottom: 20px;
 }

 .platform{
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   height: 650px;
   
 }
 .platform .img2{
   width: 300px;

 }

.platform .btn{
   padding: 10px 50px;
   font-weight: 450;

}

.platform p{
   text-align: center;
   width: 500px;

}

.platform .img1{
   margin-top: 40px;
   margin-bottom: 10px;
 }

 .platform .name2{
   text-align: center;
   font-size: 36px;
   font-weight: 800;
   margin-bottom: 40px;
 }

 .ptf button{
   margin-top: 55px;
 }

 /*Community Comment--------------------------------------------------*/

 .community-comment{
   height: 300px;
   width: 100%;
   background-color: #FFF7DE;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .community-title{
   text-align: center;
   font-size: 36px;
   font-weight: 800;
   margin-bottom: 30px;
 }

.comment-session p, 
.comment-session h5{
   text-align: center;
}

.comment-session{
   width: 800px;
   height: 65px;
   overflow: hidden;
   position: relative;
   margin-bottom: 20px;
}

.nev-btn{
   cursor: pointer;
    font-size: 60px;
    position: absolute;
    
}

.prev{
color: #000000;
left: 10%;

}

.pnext{
   display: flex;
   right: 10%;
}

.comment-names{
   display: flex;
   flex-direction: column;
   height: 18px;
   overflow: hidden;
   margin-bottom: 10px;
}

.comment-names h5{
   font-size: 16px;

}

.nev-btn:hover{
   color: #969696;
}

.comment-session p{
   font-size: 18px;
}

.dots{
  display: flex;
}

/*describe------------------------------------------------------------------*/

.describe{
  height: 650px;
  width: 100%;
  display:flex;
  background-color: #fff;
}

.talk{
 padding: 90px 90px;

}
.talk p{
  margin-bottom: 30px;
  width: 450px;
  font-weight: 300;
}
.des-title h2{
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 800;

}

.describe button{
  margin-top: 80px;
  padding: 6px 40px;
  font-size: 15px;
  font-weight: 400;
}

/*partners------------------------------------------------------------------*/

.partners{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF7DE;
  width: 100%;
  height: 750px;
}

.partners .title-name h1{
  font-size: 35px;
  font-weight: 800;
  margin: 50px 0 20px 0; 

}

.logo-grid .all-logo {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  gap: 10px;
}

.partner-para p{
  width: 760px;
  margin-bottom: 60px;
  text-align: center;
}
.lg{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 400px;
  width: 100%;
  align-items: center;
}

.lg p{
  text-align: center;
  font-weight: 300;
  width: 200px;

}
.lg img{
  margin: 40px;
}

.second-logo img{
  margin-bottom: 20px;

}
.logo-grid { 
width: 99%;
}
.second-logo p{
  margin-top: 20px;
}
.partners button{
  padding: 10px 40px; 
  font-size: 15px;
  font-weight: 400;
}
.third-logo img{
  margin-top: 90px;

}

.third-logo p{
  margin-top: 24px;
}


/*Questions------------------------------------------------------------------*/

.question{
  display: flex;
  width: 100%;
  height: 520px;
  background-color: #fff;
}
.qr{
  width: 100%;

}
.quest-image img{
  width: 100%;
}
.quest{
  margin: 90px 0 0 90px;
}
.quest h2{
  font-size: 36px;
  font-weight: 800; 
}

.quest-session h2{
  margin-bottom: 50px;
}

.whatsapp, .email, .linked{
  display: flex;
}

.whatsapp{
  gap: 24px;  
  font-weight: 300;
  align-items: center;
  margin-bottom: 50px; 
}
.whatsapp .wa-icon i{
font-size: 22px;  
padding: 6px 6px 5px 7px;  
text-align: center;
border-radius: 100%;
background-color: #000;
color: #fff;
}

.email{
  gap: 30px; 
  font-weight: 300;
  align-items: center;
  margin-bottom: 50px; 
}
.email .em-icon i{
  font-size: 22px; 
  border-radius: 100%;
}

.linked .pr i{
  font-size: 18px;
  background-color: transparent;
  margin: 10px 10px 0 0; 
}
.linked{
  gap: 30px;
  font-weight: 300;
  align-items: center;
  margin-bottom: 40px;
}

.linked .fa-heart{
  font-size: 22px; 
}

footer{
  display: flex;
  width: 100%;
  height: 350px;
  color: #fff;
  background-color: #161616;
}
.br{
  width: 100%;
  padding: 50px 0 0 100px;  
}

.br a p{
  color: #fff;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

last{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  color: #fff;
  margin-top: 1px;
  padding: 20px 0 20px 0;
}

.br h2{
  font-size: 16px; 
}

 .menu a p:hover{
color: #FFBF00;
}
.menu .active{
  color: #FFBF00;
}

.br .follow-logo i{
  color:#000000;
  font-size: 22px; 
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #fff;
  margin: 10px 10px 0 0; 

}